
<div class="modal-header">
  <h3 class="modal-title"><%= t('blacklight.search.librarian_view.title') %></h3>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<%- if @document.respond_to?(:to_marc) -%>
  <%= render "marc_view" %>
<%- else %>
  <%= t('blacklight.search.librarian_view.empty') %>
<%- end -%>
